<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Привет, Мир!</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <h1>Привет, Мир!</h1>
    <h2>Учебный сайт</h2>
    <h4>Маркированный список:</h4>
    <ul>
        <li>Элемент 1</li>
        <li>Последний элемент</li>
    </ul>

    <h4>Нумерованный список:</h4>
    <ol>
        <li>Элемент 1</li>
        <li>Последний элемент</li>
    </ol>

    <p>Таблица:</p>
    <table border="1"> <tr>
            <th>Столбик 1</th><th>Столбик 2</th><th>Столбик 3</th><th>Столбик 4</th><th>Столбик 5</th><th>Столбик 6</th>
        </tr>
        <tr>
            <td>Данные</td><td>...</td><td>...</td><td>...</td><td>...</td><td>...</td>
        </tr>
    </table>
    <img src="/static/images/pic1.png" alt="Logo">
</body>
</html>