### Python
__pycache__/
*.py[cod]
*.pyd
.Python
.venv/
venv/
ENV/
env/

### Django
db.sqlite3
*.sqlite3
local_settings.py
staticfiles/
media/

### Logs
*.log

### OS / Editor
.DS_Store
Thumbs.db
.vscode/

### Office temp files
~$*.docx
